
.TodoApp {
    --grey: rgba(123, 123, 123, 0.8);
  width: 50vw;
  margin: 1rem auto 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.cancel-msg{
    display:block;
    text-align: center;
    margin-top:.5rem;
    color:rgba(123, 123, 123, 0.8);
}


.TodoApp .title {
  text-align: center;
}

.TodoApp main {
  margin-top: 0.5rem;
  padding: 0 1rem;
}
.TodoApp .form-add input {
  width: 100%;
  border: 1px solid rgba(123, 123, 123, 0.5);
  border-radius: 2px;
  padding: 0.2rem;
  font-size: 11px;
}
form input:focus {
  outline: none;
}

.Todos {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.Todos .form-group {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  border-bottom: 1px solid rgba(123, 123, 123, 0.3);
  color: rgba(123, 123, 123, 1);
  padding: 0.3rem 0;
}

.Footer {
    display:flex;
    align-items: center;
    border-top:1px solid rgba(123, 123, 123, 0.3);
    padding:0.5rem 1rem;
    font-size:11px;
    background-color: aquamarine;
}
.Footer .actions{
    display: flex;
    align-items: center;
    column-gap: .2rem;
    border-right:1px solid rgba(123, 123, 123, 0.3);
    padding-right: .5rem;
    margin-right:.5rem;
}
.actions img{
    width:1rem;
    height:1rem;
}
.Footer .todo-info{
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.todo-info .tabs{
    display:flex;
    align-items: center;
    column-gap:.8rem ;
}

.tabs .tab{
    color:var(--grey);

}

.tabs .tab.active{
    border: 1px solid var(--grey);
    padding: .1rem .2rem;
}
